
<!-- start about -->
<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-11 wow fadeInLeft" data-wow-delay="0.9s">
                <h2>ABOUT Jeet</h2>
                <h4>.NET &AMP; Blazor DEVELOPER</h4>
                <p>
                    I am persuing my MSc IT from GLS
                    University. I loves to solve programming problems
                    in most efficient ways. Now I am work as a
                    trainee in Yudiz Solutions Pvt. Ltd.
                </p>
                <p>
                    I do my work mainly in C#-Language,
                    .NET framework and Database. C# and DataBase
                    are my stronger section.
                    Besides these I know Web Development,
                    .NET and Blazor as well.
                </p>
            </div>
            <div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.9s">
                <span class="text-top">Web Devloptment <small>95%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
                </div>
                <span>Web Design <small>80%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                <span>Blazor <small>70%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                </div>
                <span>HTLM5 &AMP; CSS3 <small>90%</small></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->

@code {

}
