@page "/Home" 

<div id="home" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 wow fadeIn" data-wow-delay="0.9s">
                <h3>Hello....., I am</h3>
                <h1>Jeet Limbani</h1>
                <h2 class="rotate">.NET &AMP; Blazor DEVELOPER, UI &AMP; UX SPECIALIST</h2>
                <p>Trainee at Yudiz Solution Pvt. Ltd.</p>
                <a href="#work" class="btn btn-default smoothScroll wow fadeInUp" data-wow-delay="1s">Get started</a>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
@code {

}
